{
  "openapi": "3.0.2",
  "info": {
    "title": "SmartPM",
    "version": "1.0.0",
    "description": "# Introduction\n\nWelcome to the reference for the SmartPM REST API!\n\nThe SmartPM REST API provides access to data for schedules that have been analyzed in SmartPM. If there is a particular dataset that you need access to that is missing from the API please contact us at support@smartpmtech.com.\n\n## Access to the API\n\nYou can access the SmartPM REST API using the https://live.smartpmtech.com endpoint\n\n# Authentication\n\n## API Key Authentication\nIn order to access the SmartPM API you must authenticate each request using an API Key, note the API Key will give full access to your data, so be sure to keep it safe and rotate it frequently.\n\nIn order to generate an API Key requires the following steps:\n\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n### Step 1. Login to SmartPM using your credentials.\n### Step 2. Navigate to the admin section of SmartPM by clicking on \"Admin\" in the left navigation menu.\n![Admin Link](navbar.webp)\n### Step 3. Click on the integrations button to setup a new API key.\n![Integrations](integrations.webp)\n### Step 4. Click on the \"Create Integration\" button to add a new API key.\n![Add Integration](add_integration.webp)\n### Step 5.Provide a name for your API key and click Add.\n![Name Integration](name_integration.webp)\n### Step 6. Make note of the newly generate API key, you will not be able to access this value again.\n![Copy API Key](save_api_key.webp)\n### Step 7. You are now able to use this key along with your company id in order to access the public APIs made available by SmartPM. You will pass the API key value in a header X-API-KEY along with your company ID in X-COMPANY-ID.\n\nNote: You must be a Company Admin in order to generate an API Key.\n\n## Company ID\nIn order to get your Company ID to use with the API Key, please navigate to the company dashboard and note the value in the URL.\n![Company ID](company_id.webp)\n\nNote: In the screenshot above the Company ID is \"18e19555-c5c1-4acd-9e1d-cd534287c21e\"\n\n# Release Notes\n\n## Release v8.1 - 10/11/2024\n\n### Adding schedule quality details API\n### Adding API to get specific activity codes\n### Updating documentation for scenario metrics API with new cost / manpower metrics\n### Updating documentation for activities API with cost / manpower metric\n\n## Release v7.9 - 9/13/2024\n\n### Adding project delete endpoint\n\n## Release v7.8 - 8/31/2024\n\n### Adding sourceEndDate to Schedules v2 endpoint\n### Adding disableNotification to Create Users endpoint\n### Adding Get Project Health endpoint\n### Adding Get Project Health Trend endpoint\n### Add Get Schedule Compression Trend endpoint\n### Add Get Schedule Performance Index endpoint\n### Add Get Schedule Performance Index Trend endpoint\n### Add Get Project Calendars endpoint\n### Add Get Specific Project Calendar endpoint\n### Add Get Project WBS endpoint\n### Add Get Project WBS element endpoint\n### Add Get Project Activity Code Types endpoint",
    "contact": {
      "name": "API Support",
      "email": "support@smartpmtech.com"
    },
    "x-logo": {
      "url": "./logo.png",
      "altText": "SmartPM"
    }
  },
  "servers": [
    {
      "url": "https://live.smartpmtech.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/public/v1/projects": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectShort"
                  }
                }
              }
            },
            "description": "List of projects for your company."
          }
        },
        "operationId": "get-projects",
        "description": "Get all active projects for your company\n\nFilters\n - Optional parameter to filter projects based on metadata field values in the format of\n       fieldName:value\n       \n - Numeric and Date metadata fields can have operators such as\n      [eq], [lt], [lte], [gt], [gte]\n     \n\n Example:\n  - filters=REGION:United+States,REGION:Canada,RANK[gt]:3,RANK[lte]:5",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filters",
            "description": "Filters based on Project Metadata"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "/\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d([+-][0-2]\\d:[0-5]\\d|Z)/",
              "example": "2023-07-19T12:00:00"
            },
            "in": "query",
            "name": "asOf",
            "description": "Return projects that have changed since date"
          }
        ],
        "summary": "Get active projects",
        "tags": [
          "Project"
        ]
      },
      "post": {
        "summary": "Create project",
        "description": "Create a new project in SmartPM",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key"
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "create-project",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projectId": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fileId": {
                            "type": "string"
                          },
                          "importId": {
                            "type": "string"
                          },
                          "valid": {
                            "type": "boolean"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipCode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number"
                  },
                  "longitude": {
                    "type": "number"
                  },
                  "files": {
                    "type": "array",
                    "description": "The files that you have uploaded to SmartPM that you want imported to the project. Note: Currently only 1 file is supported.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "dataDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "contractualEndDate": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "XER",
                      "MPP",
                      "PMXML",
                      "PPX",
                      "PP"
                    ]
                  },
                  "projectPlan": {
                    "type": "string",
                    "description": "The plan that you would like for the project to be in, if a value is not supplied then the company default is used.",
                    "enum": [
                      "Dashboard",
                      "Oversight",
                      "Controls"
                    ]
                  },
                  "metadata": {
                    "type": "object",
                    "description": "A object representing the key value pairs for the metadata",
                    "properties": {
                      "key": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "city",
                  "state",
                  "zipCode",
                  "country",
                  "latitude",
                  "longitude",
                  "files",
                  "source"
                ]
              }
            }
          }
        }
      }
    },
    "/public/v1/projects/{projectId}/scenarios": {
      "get": {
        "summary": "Get scenarios for project",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScenarioShort"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-scenarios",
        "description": "Get all active scenarios for the specified project",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project for which you want to retrieve scenarios"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "/\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d([+-][0-2]\\d:[0-5]\\d|Z)/",
              "example": "2023-07-19T12:00:00"
            },
            "in": "query",
            "name": "asOf",
            "description": "Return scenarios that have changed since date"
          }
        ],
        "tags": [
          "Scenario"
        ]
      }
    },
    "/public/v1/projects/{projectId}/scenarios/{scenarioId}/activities": {
      "get": {
        "summary": "Get activities for a scenario",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-activities",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "yyyy-MM-dd"
            },
            "in": "query",
            "name": "dataDate",
            "description": "Data date for which you want to retrieve the activities, if blank will use the latest data date"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project for which you want to retrieve activities"
          },
          {
            "schema": {
              "type": "number"
            },
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "The ID of the scenario for which you want to retrieve activities"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "filterId",
            "description": "The ID for the filter that you want to filter the list of activities by"
          }
        ],
        "description": "Get all of the activities for the scenario on the specified data date",
        "tags": [
          "Activity"
        ]
      }
    },
    "/public/v1/projects/{projectId}/scenarios/{scenarioId}": {
      "get": {
        "summary": "Get scenario details",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scenario"
                }
              }
            }
          }
        },
        "operationId": "get-scenario-details",
        "description": "Get the details for a scenario",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "yyyy-MM-dd"
            },
            "in": "query",
            "name": "dataDate",
            "description": "Data date for which you want to retrieve the scenario details for, if blank will use the latest data date"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "required": true
          },
          {
            "schema": {
              "type": "number"
            },
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The ID of the project containing the scenario for which you want to retrieve details"
          },
          {
            "schema": {
              "type": "number"
            },
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "The ID of the scenario for which you want to retrieve details"
          }
        ],
        "tags": [
          "Scenario"
        ]
      }
    },
    "/public/v1/projects/{projectId}/import": {
      "post": {
        "summary": "Import file",
        "description": "Import file to existing project with existing baseline. This endpoint will import the files to the originals scenario and update any scenarios marked as auto update with any valid files. A file will become invalid for a scenario if the scenario is a partial scenario and the activity no longer exists.",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API Key"
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project you would like to import the file for"
          }
        ],
        "operationId": "import-file",
        "responses": {
          "200": {
            "description": "Files queued for import",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "fileId",
                          "importId",
                          "valid"
                        ],
                        "properties": {
                          "fileId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "importId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "valid": {
                            "type": "boolean"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "importId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "files",
                    "importId",
                    "status"
                  ]
                },
                "examples": {
                  "Successfully Queued": {
                    "value": {
                      "files": [
                        {
                          "fileId": "59b21b2a-ca3e-47ae-ba9b-a60c9a323eae",
                          "importId": "a8efad98-f869-43c5-966a-7467649ea0e6",
                          "valid": true,
                          "errors": []
                        },
                        {
                          "fileId": "a1ec8eea-bee8-45eb-ba97-22c647178d86",
                          "importId": "85f139eb-b7b2-4c41-9134-05461fc75d19",
                          "valid": true,
                          "errors": []
                        }
                      ],
                      "importId": "3a18c632-7e3f-494d-bed1-8e4ed4ae5b4d",
                      "status": "Queued"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Import Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "fileId",
                          "importId",
                          "valid"
                        ],
                        "properties": {
                          "fileId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "importId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "valid": {
                            "type": "boolean"
                          },
                          "errors": {
                            "type": "array",
                            "items": {
                              "required": [],
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "importId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "status": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "files",
                    "importId",
                    "status"
                  ]
                },
                "examples": {
                  "Import Rejected": {
                    "value": {
                      "files": [
                        {
                          "fileId": "59b21b2a-ca3e-47ae-ba9b-a60c9a323eae",
                          "importId": "1e4a85f0-5744-4a7c-b61c-f18cb5de49be",
                          "valid": false,
                          "errors": [
                            "The data date must be greater than the current data date for the project."
                          ]
                        },
                        {
                          "fileId": "a1ec8eea-bee8-45eb-ba97-22c647178d86",
                          "importId": "e3d79baa-65f6-4c9d-a88c-7caeb9083a3b",
                          "valid": false,
                          "errors": [
                            "The data date must be greater than the current data date for the project."
                          ]
                        }
                      ],
                      "importId": "00ea3713-02c2-42b0-8525-f494976d0951",
                      "status": "Failed"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Import"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportFile"
              },
              "examples": {
                "ImportSample": {
                  "value": {
                    "files": [
                      {
                        "fileId": "59b21b2a-ca3e-47ae-ba9b-a60c9a323eae",
                        "name": "7-10-20 Schedule.mpp",
                        "dataDate": "2020-07-10"
                      },
                      {
                        "fileId": "a1ec8eea-bee8-45eb-ba97-22c647178d86",
                        "name": "Schedule 8-14-20.mpp"
                      }
                    ],
                    "sendNotification": false
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/public/v1/projects/{projectId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Project",
        "tags": [
          "Project"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectShort"
                }
              }
            }
          }
        },
        "operationId": "get-project",
        "description": "Get a specific project",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "description": "Your Company ID"
          }
        ]
      },
      "delete": {
        "summary": "Delete Project",
        "tags": [
          "Project"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "delete-public-v1-projects-projectId",
        "x-stoplight": {
          "id": "p2i0luj7nh51c"
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API Key"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "description": "Your Company ID"
          }
        ],
        "description": "Delete a project"
      }
    },
    "/public/v1/projects/{projectId}/metadata": {
      "put": {
        "summary": "Update project metadata",
        "description": "Update project metadata field values",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project to update"
          }
        ],
        "operationId": "update-project-metadata",
        "tags": [
          "Project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "API_KEY": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "FIELD1": "value1",
                    "FIELD2": "value2",
                    "FIELD3": "value3"
                  }
                }
              }
            }
          },
          "description": "Project metadata fields and values to update"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "API_KEY": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "FIELD1": "value1",
                      "FIELD2": "value2",
                      "FIELD3": "value3"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        }
      ]
    },
    "/public/v1/projects/{projectId}/import/{importId}": {
      "get": {
        "summary": "Import Status",
        "description": "Get the status of the import",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project for while you would like to check the import status for"
          },
          {
            "name": "importId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The import to check the status for"
          }
        ],
        "operationId": "get-import-status",
        "responses": {
          "200": {
            "description": "Import status",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "importId": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "message",
                    "importId"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "message": "SUCCESS",
                      "importId": "9a338600-a239-49a4-a96b-6c55de9de51b"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Failed Processing",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "importId": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "message",
                    "importId"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "message": "FAILED",
                      "importId": "9a338600-a239-49a4-a96b-6c55de9de51b"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Import"
        ]
      }
    },
    "/public/v1/projects/{projectId}/users": {
      "get": {
        "summary": "Get Project Users",
        "description": "Get all users for project",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project to get users for"
          }
        ],
        "operationId": "get-users",
        "responses": {
          "200": {
            "description": "List of users and their role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "minItems": 1,
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "user",
                      "role"
                    ],
                    "properties": {
                      "id": {
                        "type": "number"
                      },
                      "user": {
                        "type": "string",
                        "minLength": 1
                      },
                      "role": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 1580,
                        "user": "rsinha@smartpmtech.com",
                        "role": "Schedule Admin"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "User"
        ]
      },
      "post": {
        "summary": "Add user to project",
        "description": "Add a user to a project",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project to create user for"
          }
        ],
        "operationId": "create-user",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "user": {
                      "type": "string",
                      "minLength": 1
                    },
                    "role": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "id",
                    "user",
                    "role"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1580,
                      "user": "rsinha@smartpmtech.com",
                      "role": "Schedule Admin"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User/Role Not Found"
          },
          "409": {
            "description": "User Already Exists"
          }
        },
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "minLength": 1
                  },
                  "role": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "user",
                  "role"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "user": "rsinha@smartpmtech.com",
                    "role": "Schedule Admin"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/projects/{projectId}/users/{userId}": {
      "delete": {
        "summary": "Remove project user",
        "description": "",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project to delete user for"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user to delete"
          }
        ],
        "operationId": "remove-project-user",
        "responses": {
          "200": {
            "description": "User deleted"
          }
        },
        "tags": [
          "User"
        ]
      },
      "put": {
        "summary": "Update project user role",
        "description": "",
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "X-COMPANY-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project to update user for"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user to update"
          }
        ],
        "operationId": "update-project-user",
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "user": {
                      "type": "string",
                      "minLength": 1
                    },
                    "role": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "id",
                    "user",
                    "role"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1582,
                      "user": "rsinha@smartpmtech.com",
                      "role": "Activity Manager"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User/Role Not Found"
          }
        },
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "minLength": 1
                  },
                  "role": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "user",
                  "role"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "user": "rsinha@smartpmtech.com",
                    "role": "Activity Manager"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/upload": {
      "post": {
        "summary": "Upload file",
        "tags": [
          "Import"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "fileId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "message": {}
                  },
                  "required": [
                    "fileId"
                  ]
                },
                "examples": {
                  "Upload Successful": {
                    "value": {
                      "fileId": "a1ec8eea-bee8-45eb-ba97-22c647178d86",
                      "message": null
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "upload-file",
        "description": "Upload file to be used for importing",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "required": true,
            "description": "Your API Key"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {}
                }
              }
            }
          },
          "description": "Upload one file at a time as a multipart form data"
        }
      }
    },
    "/public/v1/projects/{projectId}/external-references": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true,
          "description": "Project ID"
        }
      ],
      "get": {
        "summary": "Get External References for Project",
        "tags": [
          "External Reference"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "minItems": 1,
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "required": [
                      "provider",
                      "externalId"
                    ],
                    "properties": {
                      "provider": {
                        "type": "string",
                        "minLength": 1
                      },
                      "externalId": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  }
                },
                "examples": {
                  "ExternalReference": {
                    "value": [
                      {
                        "provider": "procore",
                        "externalId": "1234"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-external-references",
        "description": "Get the external links that are setup for a project.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          }
        ]
      },
      "post": {
        "summary": "Add External Reference for Project",
        "operationId": "add-external-reference",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "",
                  "minItems": 1,
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "required": [
                      "provider",
                      "externalId"
                    ],
                    "properties": {
                      "provider": {
                        "type": "string",
                        "minLength": 1
                      },
                      "externalId": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  }
                },
                "examples": {
                  "ExternalReferences": {
                    "value": [
                      {
                        "provider": "procore",
                        "externalId": "1234"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "Add an external link for a project.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "minLength": 1
                  },
                  "externalId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "provider",
                  "externalId"
                ]
              },
              "examples": {
                "ExternalReference": {
                  "value": {
                    "provider": "procore",
                    "externalId": "1234"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "External Reference"
        ]
      }
    },
    "/public/v1/projects/{projectId}/scenarios/{scenarioId}/schedules": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "scenarioId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get schedules uploaded for scenario",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "x-examples": {
                    "Example 1": [
                      {
                        "id": 653,
                        "fileName": "60b4a020-4325-46a8-b57f-d2c3b5fe8909.mpp",
                        "fileId": "8ce60114-675f-4554-97dd-134802108547",
                        "dataDate": "2020-09-18"
                      }
                    ]
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "fileName": {
                        "type": "string"
                      },
                      "fileId": {
                        "type": "string"
                      },
                      "dataDate": {
                        "type": "string",
                        "format": "date",
                        "pattern": "YYYY-MM-DD"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-scenario-schedules",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "/\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d([+-][0-2]\\d:[0-5]\\d|Z)/",
              "example": "2023-07-19T12:00:00"
            },
            "in": "query",
            "name": "asOf",
            "description": "Return schedules that have been uploaded since date"
          }
        ],
        "description": "Retrieve the schedules that have been uploaded to a scenario."
      }
    },
    "/public/v2/projects/{projectId}/scenarios/{scenarioId}/schedules": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "scenarioId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get schedules uploaded for scenario (v2)",
        "tags": [
          "Schedules"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "x-examples": {
                    "Example 1": [
                      {
                        "id": 2153,
                        "fileName": "19.10.02 - SmartPM Site Shutdown - Baseline.XER.xer",
                        "fileId": "d7200867-e07f-4fba-9dc0-afc4fb0fd2d0",
                        "activityCount": 750,
                        "dataDate": "2019-10-02T00:00:00",
                        "baseline": true
                      },
                      {
                        "id": 2154,
                        "fileName": "19.10.31 - SmartPM Site Shutdown - UD01.XER.xer",
                        "fileId": "90c73717-4c2b-4ae1-8c8d-e7b3e0d03fe6",
                        "activityCount": 786,
                        "dataDate": "2019-10-31T08:00:00",
                        "baseline": false
                      },
                      {
                        "id": 2155,
                        "fileName": "19.12.02 - SmartPM Site Shutdown - UD02.XER.xer",
                        "fileId": "402d4258-48af-4daa-a74c-6f2d6ec3cc4f",
                        "activityCount": 793,
                        "dataDate": "2019-12-02T08:00:00",
                        "baseline": false
                      },
                      {
                        "id": 2156,
                        "fileName": "20.01.29 - SMARTPM SITE SHUTDOWN - UD02-POBS.XER.xer",
                        "fileId": "cdd88fff-ab10-4c0d-9b89-219b17c13789",
                        "activityCount": 759,
                        "dataDate": "2020-01-29T08:00:00",
                        "baseline": false
                      },
                      {
                        "id": 2157,
                        "fileName": "20.03.03 - SmartPM Site Shutdown - UD03.XER.xer",
                        "fileId": "bde1eb9b-3fa3-49fb-969a-b8d068ec9eca",
                        "activityCount": 789,
                        "dataDate": "2020-03-03T08:00:00",
                        "baseline": true
                      }
                    ]
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "fileName": {
                        "type": "string"
                      },
                      "fileId": {
                        "type": "string"
                      },
                      "activityCount": {
                        "type": "integer"
                      },
                      "dataDate": {
                        "type": "string"
                      },
                      "baseline": {
                        "type": "boolean",
                        "description": "Is this schedule being used as a baseline for the analysis"
                      },
                      "sourceEndDate": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "htzcdr7us0z1d"
                        },
                        "format": "date-time",
                        "description": "The end date that was in the source system"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-scenario-schedules-v2",
        "requestBody": {
          "content": {}
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "/\\d{4}-[01]\\d-[0-3]\\dT[0-2]\\d:[0-5]\\d:[0-5]\\d([+-][0-2]\\d:[0-5]\\d|Z)/",
              "example": "2023-07-19T12:00:00"
            },
            "in": "query",
            "name": "asOf",
            "description": "Return schedules that have been uploaded since date"
          }
        ],
        "description": "Retrieve the schedules that have been uploaded to a scenario."
      }
    },
    "/public/v1/users": {
      "get": {
        "summary": "Get Company Users",
        "responses": {},
        "operationId": "get-company-users",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY",
            "description": "Your API KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID",
            "description": "Your Company ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "",
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "minLength": 1
                    },
                    "lastName": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "lastLogin": {
                      "type": "string",
                      "description": "UTC Timestamp of last login.",
                      "format": "date-time",
                      "example": "2021-02-18T21:43:18"
                    },
                    "loginCount": {
                      "type": "number"
                    },
                    "role": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "firstName",
                    "lastName",
                    "email",
                    "lastLogin",
                    "loginCount",
                    "role"
                  ]
                }
              },
              "examples": {
                "Example": {
                  "value": [
                    {
                      "firstName": "Rohit",
                      "lastName": "Sinha",
                      "email": "info@smartpmtech.com",
                      "lastLogin": "2021-02-18T21:43:18",
                      "loginCount": 19,
                      "role": "Company Admin"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Get all users in your company",
        "tags": [
          "User"
        ]
      },
      "post": {
        "summary": "Create Company User",
        "operationId": "create-company-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "firstName": {
                      "type": "string",
                      "minLength": 1
                    },
                    "lastName": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phoneNumber": {
                      "type": "string",
                      "minLength": 1
                    },
                    "role": {
                      "type": "string",
                      "minLength": 1
                    },
                    "lastLogin": {
                      "type": "string",
                      "minLength": 1
                    },
                    "loginCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "email",
                    "phoneNumber",
                    "role",
                    "lastLogin",
                    "loginCount"
                  ],
                  "x-examples": {
                    "example-1": {
                      "id": "GUID",
                      "firstName": "SmartPM",
                      "lastName": "User",
                      "email": "support@smartpmtech.com",
                      "phoneNumber": "(404) 329-3000",
                      "role": "Company Admin",
                      "lastLogin": "2021-02-18T21:43:18",
                      "loginCount": 19
                    }
                  }
                },
                "examples": {
                  "Create User Response": {
                    "value": {
                      "id": "8b64e890-a2e6-49bb-8a62-b969c9fddd3d",
                      "firstName": "SmartPM",
                      "lastName": "User",
                      "email": "support@smartpmtech.com",
                      "phoneNumber": "(404) 329-3000",
                      "role": "Company Admin",
                      "lastLogin": "2021-02-18T21:43:18",
                      "loginCount": 19
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create new company user",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "firstName": "SmartPM",
                    "lastName": "User",
                    "email": "support@smartpmtech.com",
                    "phoneNumber": "(404) 329-3000",
                    "role": "Company Admin"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "role",
                  "title"
                ],
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1
                  },
                  "phoneNumber": {
                    "type": "string",
                    "minLength": 1
                  },
                  "role": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string"
                  },
                  "ssoUser": {
                    "type": "boolean"
                  },
                  "disableNotification": {
                    "type": "boolean",
                    "x-stoplight": {
                      "id": "j4fctznzifhnb"
                    },
                    "description": "This field will allow disabling notifications to the user if they are an SSO user"
                  }
                }
              },
              "examples": {
                "Create User Example": {
                  "value": {
                    "firstName": "SmartPM",
                    "lastName": "User",
                    "email": "support@smartpmtech.com",
                    "phoneNumber": "(404) 329-3000",
                    "role": "Company Admin"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/users/{userId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "userId",
          "in": "path",
          "required": true,
          "description": "The ID for the User"
        }
      ],
      "put": {
        "summary": "Update Company User",
        "operationId": "update-company-user",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "firstName": {
                      "type": "string",
                      "minLength": 1
                    },
                    "lastName": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1
                    },
                    "phoneNumber": {
                      "type": "string",
                      "minLength": 1
                    },
                    "role": {
                      "type": "string",
                      "minLength": 1
                    },
                    "lastLogin": {
                      "type": "string",
                      "minLength": 1
                    },
                    "loginCount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName",
                    "email",
                    "phoneNumber",
                    "role",
                    "lastLogin",
                    "loginCount"
                  ],
                  "x-examples": {
                    "example-1": {
                      "id": "8b64e890-a2e6-49bb-8a62-b969c9fddd3d",
                      "firstName": "SmartPM",
                      "lastName": "User",
                      "email": "support@smartpmtech.com",
                      "phoneNumber": "(404) 329-3000",
                      "role": "Company Admin",
                      "lastLogin": "2021-02-18T21:43:18",
                      "loginCount": 19
                    }
                  }
                },
                "examples": {
                  "Update User Response": {
                    "value": {
                      "id": "8b64e890-a2e6-49bb-8a62-b969c9fddd3d",
                      "firstName": "SmartPM",
                      "lastName": "User",
                      "email": "support@smartpmtech.com",
                      "phoneNumber": "(404) 329-3000",
                      "role": "Company Admin",
                      "lastLogin": "2021-02-18T21:43:18",
                      "loginCount": 19
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "firstName": "SmartPM",
                    "lastName": "User",
                    "email": "support@smartpmtech.com",
                    "phoneNumber": "(404) 329-3000",
                    "role": "Company Admin",
                    "title": "User"
                  }
                },
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1
                  },
                  "phoneNumber": {
                    "type": "string",
                    "minLength": 1
                  },
                  "role": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ssoUser": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "role",
                  "title"
                ]
              },
              "examples": {
                "Update User Request": {
                  "value": {
                    "firstName": "SmartPM",
                    "lastName": "User",
                    "email": "support@smartpmtech.com",
                    "phoneNumber": "(404) 329-3000",
                    "role": "Company Admin",
                    "title": "User"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "User"
        ]
      },
      "delete": {
        "summary": "Delete Company User",
        "operationId": "delete-company-user",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          }
        ],
        "tags": [
          "User"
        ]
      }
    },
    "/public/v1/projects/{projectId}/scenarios/{scenarioId}/percent-complete-curve": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "scenarioId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Percent Complete Curve",
        "tags": [
          "Scenario"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "percentCompleteTypes": {
                      "type": "object",
                      "required": [
                        "ACTUAL",
                        "SCHEDULED",
                        "PLANNED"
                      ],
                      "properties": {
                        "ACTUAL": {
                          "type": "string",
                          "minLength": 1
                        },
                        "SCHEDULED": {
                          "type": "string",
                          "minLength": 1
                        },
                        "PLANNED": {
                          "type": "string",
                          "minLength": 1
                        },
                        "PREDICTIVE": {
                          "type": "string"
                        },
                        "BASELINE_ID_PLANNED": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "DATE"
                      ],
                      "properties": {
                        "DATE": {
                          "type": "object",
                          "required": [
                            "SCHEDULED",
                            "PLANNED"
                          ],
                          "properties": {
                            "ACTUAL": {
                              "type": "number"
                            },
                            "SCHEDULED": {
                              "type": "number"
                            },
                            "PLANNED": {
                              "type": "number"
                            },
                            "PREDICTIVE": {
                              "type": "number"
                            },
                            "BASELINE_ID_PLANNED": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "percentCompleteTypes",
                    "data"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "percentCompleteTypes": {
                        "ACTUAL": "string",
                        "SCHEDULED": "string",
                        "PLANNED": "string",
                        "PREDICTIVE": "string",
                        "BASELINE_ID_PLANNED": "string"
                      },
                      "data": {
                        "2022-11-14": {
                          "ACTUAL": 0,
                          "SCHEDULED": 0,
                          "PLANNED": 0,
                          "PREDICTIVE": 0,
                          "BASELINE_ID_PLANNED": 0
                        },
                        "2022-12-14": {
                          "ACTUAL": 0,
                          "SCHEDULED": 0,
                          "PLANNED": 0,
                          "PREDICTIVE": 0,
                          "BASELINE_ID_PLANNED": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-percent-complete-curve",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          }
        ],
        "description": "Generates the percent complete curve with all relevant data points. The dates for which data is returned is as follows.\n- Monthly from baseline start date till first data date\n- Each Data Date\n- Last Data Date to maximum completion date"
      }
    },
    "/public/v2/projects/{projectId}/scenarios/{scenarioId}/percent-complete-curve": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "scenarioId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Percent Complete Curve (v2)",
        "tags": [
          "Scenario"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "percentCompleteTypes": {
                        "LATE_DATE_PLANNED": "Late Date Planned (All Schedules)",
                        "ACTUAL": "Actual",
                        "SCHEDULED": "Scheduled Completion",
                        "PLANNED": "Early Date Planned (All Schedules)"
                      },
                      "data": [
                        {
                          "DATE": "2022-07-28",
                          "LATE_DATE_PLANNED": 0,
                          "ACTUAL": 0,
                          "SCHEDULED": null,
                          "PLANNED": 0
                        },
                        {
                          "DATE": "2023-03-09",
                          "LATE_DATE_PLANNED": 16.044695071596845,
                          "ACTUAL": 6.01340431599962,
                          "SCHEDULED": 6.01340431599962,
                          "PLANNED": 31.582068097532368
                        },
                        {
                          "DATE": "2023-04-09",
                          "LATE_DATE_PLANNED": 20.75956031371493,
                          "ACTUAL": null,
                          "SCHEDULED": 33.010267135659284,
                          "PLANNED": 39.02737961173761
                        },
                        {
                          "DATE": "2023-05-09",
                          "LATE_DATE_PLANNED": 26.496046064020515,
                          "ACTUAL": null,
                          "SCHEDULED": 50.31935409395244,
                          "PLANNED": 47.35392121903172
                        },
                        {
                          "DATE": "2023-06-09",
                          "LATE_DATE_PLANNED": 33.19586942582565,
                          "ACTUAL": null,
                          "SCHEDULED": 65.54501378458029,
                          "PLANNED": 57.23941460333549
                        },
                        {
                          "DATE": "2023-07-09",
                          "LATE_DATE_PLANNED": 39.02056088794867,
                          "ACTUAL": null,
                          "SCHEDULED": 77.45032797794467,
                          "PLANNED": 68.93869203624153
                        },
                        {
                          "DATE": "2023-08-09",
                          "LATE_DATE_PLANNED": 45.334813224397266,
                          "ACTUAL": null,
                          "SCHEDULED": 87.7269702443198,
                          "PLANNED": 79.82444636127917
                        },
                        {
                          "DATE": "2023-09-09",
                          "LATE_DATE_PLANNED": 51.923598271126245,
                          "ACTUAL": null,
                          "SCHEDULED": 97.68038786956936,
                          "PLANNED": 85.95756701052238
                        },
                        {
                          "DATE": "2023-10-09",
                          "LATE_DATE_PLANNED": 60.61335399733083,
                          "ACTUAL": null,
                          "SCHEDULED": 99.35355071774885,
                          "PLANNED": 92.236499822176
                        },
                        {
                          "DATE": "2023-11-01",
                          "LATE_DATE_PLANNED": 69.51263840295684,
                          "ACTUAL": null,
                          "SCHEDULED": 100,
                          "PLANNED": 96.29986765383656
                        },
                        {
                          "DATE": "2023-11-09",
                          "LATE_DATE_PLANNED": 74.42532319352519,
                          "ACTUAL": null,
                          "SCHEDULED": 100,
                          "PLANNED": 97.24178403755869
                        },
                        {
                          "DATE": "2023-12-08",
                          "LATE_DATE_PLANNED": 100,
                          "ACTUAL": null,
                          "SCHEDULED": 100,
                          "PLANNED": 100
                        }
                      ]
                    }
                  },
                  "properties": {
                    "percentCompleteTypes": {
                      "type": "object",
                      "properties": {
                        "LATE_DATE_PLANNED": {
                          "type": "string"
                        },
                        "ACTUAL": {
                          "type": "string"
                        },
                        "SCHEDULED": {
                          "type": "string"
                        },
                        "PLANNED": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DATE": {
                            "type": "string"
                          },
                          "LATE_DATE_PLANNED": {
                            "type": [
                              "number"
                            ]
                          },
                          "ACTUAL": {
                            "type": "number",
                            "nullable": true
                          },
                          "SCHEDULED": {
                            "type": "number",
                            "nullable": true
                          },
                          "PLANNED": {
                            "type": [
                              "number"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "percentCompleteTypes": {
                        "ACTUAL": "Actual",
                        "SCHEDULED": "Scheduled Completion",
                        "PLANNED": "Planned"
                      },
                      "data": [
                        {
                          "DATE": "2019-04-22",
                          "ACTUAL": 0,
                          "SCHEDULED": null,
                          "PLANNED": 0
                        },
                        {
                          "DATE": "2019-05-22",
                          "ACTUAL": 0.413582934262081,
                          "SCHEDULED": null,
                          "PLANNED": 0.43
                        },
                        {
                          "DATE": "2019-06-22",
                          "ACTUAL": 1.74140182847192,
                          "SCHEDULED": null,
                          "PLANNED": 1.74
                        },
                        {
                          "DATE": "2019-07-22",
                          "ACTUAL": 3.569878101872006,
                          "SCHEDULED": null,
                          "PLANNED": 3.65
                        },
                        {
                          "DATE": "2019-08-22",
                          "ACTUAL": 6.9062472790596425,
                          "SCHEDULED": null,
                          "PLANNED": 7.02
                        },
                        {
                          "DATE": "2019-09-22",
                          "ACTUAL": 11.967361776229867,
                          "SCHEDULED": null,
                          "PLANNED": 11.67
                        },
                        {
                          "DATE": "2019-10-02",
                          "ACTUAL": 13.599804092294296,
                          "SCHEDULED": null,
                          "PLANNED": 13.34
                        },
                        {
                          "DATE": "2019-10-31",
                          "ACTUAL": 18.455146606520405,
                          "SCHEDULED": null,
                          "PLANNED": 19.46
                        },
                        {
                          "DATE": "2019-12-02",
                          "ACTUAL": 21.54515698748204,
                          "SCHEDULED": null,
                          "PLANNED": 22.21
                        },
                        {
                          "DATE": "2020-01-29",
                          "ACTUAL": 32.36677306515085,
                          "SCHEDULED": null,
                          "PLANNED": 32.75
                        },
                        {
                          "DATE": "2020-03-03",
                          "ACTUAL": 36.69729544969023,
                          "SCHEDULED": 36.69729544969024,
                          "PLANNED": 38.66
                        },
                        {
                          "DATE": "2020-04-03",
                          "ACTUAL": null,
                          "SCHEDULED": 45.220910410735534,
                          "PLANNED": 45.82
                        },
                        {
                          "DATE": "2020-05-03",
                          "ACTUAL": null,
                          "SCHEDULED": 50.8111262734817,
                          "PLANNED": 53.2
                        },
                        {
                          "DATE": "2020-06-03",
                          "ACTUAL": null,
                          "SCHEDULED": 59.18191744404091,
                          "PLANNED": 61.72
                        },
                        {
                          "DATE": "2020-07-03",
                          "ACTUAL": null,
                          "SCHEDULED": 67.95255558607407,
                          "PLANNED": 70.35
                        },
                        {
                          "DATE": "2020-08-03",
                          "ACTUAL": null,
                          "SCHEDULED": 75.60330755020374,
                          "PLANNED": 79.25
                        },
                        {
                          "DATE": "2020-09-03",
                          "ACTUAL": null,
                          "SCHEDULED": 85.37662785461839,
                          "PLANNED": 89.96
                        },
                        {
                          "DATE": "2020-10-03",
                          "ACTUAL": null,
                          "SCHEDULED": 91.8506751547879,
                          "PLANNED": 94.31
                        },
                        {
                          "DATE": "2020-11-03",
                          "ACTUAL": null,
                          "SCHEDULED": 96.1472077259302,
                          "PLANNED": 97.22
                        },
                        {
                          "DATE": "2020-12-03",
                          "ACTUAL": null,
                          "SCHEDULED": 98.52654940777136,
                          "PLANNED": 99.04
                        },
                        {
                          "DATE": "2021-01-03",
                          "ACTUAL": null,
                          "SCHEDULED": 99.85045930356762,
                          "PLANNED": 99.98
                        },
                        {
                          "DATE": "2021-01-11",
                          "ACTUAL": null,
                          "SCHEDULED": 99.9786370433668,
                          "PLANNED": 99.98
                        },
                        {
                          "DATE": "2021-01-12",
                          "ACTUAL": null,
                          "SCHEDULED": 100,
                          "PLANNED": 99.98
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-percent-complete-curve-v2",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-API-KEY"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-COMPANY-ID"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "delta",
            "description": "Returns the change of progress between periods in place of progress."
          }
        ],
        "description": "Generates the percent complete curve with all relevant data points. The dates for which data is returned is as follows.\n- Monthly from baseline start date till first data date\n- Each Data Date\n- Last Data Date to maximum completion date"
      }
    },
    "/public/v1/projects/{projectId}/scenarios/{scenarioId}/earned-schedule-curve": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "projectId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "scenarioId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Earned Schedule Curve",
        "tags": [
          "Scenario"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "data": [
                        {
                          "date": "2019-05-06",
                          "earnedDays": 1
                        },
                        {
                          "date": "2019-06-06",
                          "earnedDays": 20
                        },
                        {
                          "date": "2019-07-06",
                          "earnedDays": 60
                        },
                        {
                          "date": "2019-08-06",
                          "earnedDays": 93
                        },
                        {
                          "date": "2019-09-06",
                          "earnedDays": 124
                        },
                        {
                          "date": "2019-10-02",
                          "earnedDays": 150
                        },
                        {
                          "date": "2019-10-31",
                          "earnedDays": 164
                        },
                        {
                          "date": "2019-12-02",
                          "earnedDays": 185
                        },
                        {
                          "date": "2020-01-29",
                          "earnedDays": 254
                        },
                        {
                          "date": "2020-03-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-04-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-05-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-06-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-07-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-08-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-09-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-10-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-11-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-12-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2021-01-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2021-01-11",
                          "earnedDays": 283
                        },
                        {
                          "date": "2021-01-12",
                          "earnedDays": 283
                        }
                      ]
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "earnedDays": {
                            "type": "number",
                            "description": "Number of days earned"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "date": "2019-05-06",
                          "earnedDays": 1
                        },
                        {
                          "date": "2019-06-06",
                          "earnedDays": 20
                        },
                        {
                          "date": "2019-07-06",
                          "earnedDays": 60
                        },
                        {
                          "date": "2019-08-06",
                          "earnedDays": 93
                        },
                        {
                          "date": "2019-09-06",
                          "earnedDays": 124
                        },
                        {
                          "date": "2019-10-02",
                          "earnedDays": 150
                        },
                        {
                          "date": "2019-10-31",
                          "earnedDays": 164
                        },
                        {
                          "date": "2019-12-02",
                          "earnedDays": 185
                        },
                        {
                          "date": "2020-01-29",
                          "earnedDays": 254
                        },
                        {
                          "date": "2020-03-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-04-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-05-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-06-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-07-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-08-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-09-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-10-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-11-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2020-12-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2021-01-03",
                          "earnedDays": 283
                        },
                        {
                          "date": "2021-01-11",
                          "earnedDays": 283
                        },
                        {
                          "date": "2021-01-12",
                          "earnedDays": 283
                        }
                      ]
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "": {
                      "type": "string"
                    }
                  }
                }
              },
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/html": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
[...]
